body {
    height: 100vh;
    background-color: #ec008c;
   background-image: linear-gradient(43deg, #ec008c 0%, #fc6767 46%, #FFCC70 100%);

 }

.back-btn svg {
    height: 2rem;
    width: 3rem;
    fill: black;     
}

.form-label {
    font-size: 1.5rem;
    font-weight: 500;
}