* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

 body {
    height: 100vh;
    background-color: #ec008c;
background-image: linear-gradient(43deg, #ec008c 0%, #fc6767 46%, #FFCC70 100%);

 }
/* .cover-container {
    max-width: vw;
} */

.nav-link {
    border: 2px transparent white;
    /* border-radius: 1rem; */
    color: rgb(9, 9, 9);
    font-weight: 500;
    font-size:1.5rem;
    margin-left: 1rem;
}

.nav-link:hover {
    color: rgb(45, 44, 44);
}

h1 {
    font-weight: 700;
}
p {
    color: rgb(9, 9, 9);
    font-weight: 500;
    font-size:1.5rem;
}

svg {
    color: rgb(9, 9, 9);
    height: 3rem; 
    width: 3rem;
}

.nav-link.active {
    color: rgb(9, 9, 9);
    border-bottom: 2px solid rgb(249, 246, 246);

}

.btn-secondary {
    color: rgb(9, 9, 9);
}

main .btn {
    background-color: #FFCC70;
    padding-inline: 3rem;
}

main .btn:hover {
    background-color: #f8cc7c;
    color: black;
}

main h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size:4rem;
}

main p {
    font-size: 3rem;
}

.cover-container img {
    height: 50px;
    width: 50px;
}