* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

svg {
    color: rgb(9, 9, 9);
    height: 3rem; 
    width: 3rem;
}

button .navbar-toggler .navbar-toggler-icon{
    fill: white;
}

.nav-link{ 
    border: 2px transparent white;
    color: rgb(11, 11, 11);
    margin-left: 2rem;
    padding: 2px;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link.active {
    color: rgb(9, 9, 9);
    border-bottom: 2px solid rgb(249, 246, 246);

}

/* .custom-navlink {
    border: 1px solid black;
    text-align: center;
} */

.custom-nav-link {
    border: 1px solid black;
    border-radius: 1rem;
    padding-left: 2rem;
    text-align: center;
}

.nav-link:hover {
    color: rgb(53, 53, 51);
    font-size: 1.5rem;
    font-weight: 500;
}