<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="container">
    <div class="row justify-content-center"> 
        <% for(let painting of paintings) { %>
            <div class="col-md-4"> 
                    <div class="card-body mt-3 mb-3 custom-card">
                            <div custom-border>
                                <% if (painting.images && painting.images.length > 0) { %>
                                  <img class="img-fluid" alt="<%= painting.title %> Image" src="<%= painting.images[0].url %>">
                                <% } %>
                              </div>
                        <h5 class="card-title"><%= painting.title %></h5> 
                        <div class="text-center mb-2">
                            <a class="btn btn-primary" href="/paintings/<%=painting._id%>">more info</a> 
                        </div>
                    </div>
            </div>
        <% } %>
    </div>
      
</div>





    


    
